body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alphabet {
  text-align: center;
}

.alphabet .letter {
  font-size: 3rem;
  font-weight: 400;
}

.alphabet .letter.ruledOut,
.alphabet .letter.guessed {
  color: #d6d6d6;
}

.alphabet .letter.guessed {
  text-decoration: line-through #ee0000;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height:100vh;
}

#start {
  display: flex;
  align-items: center;
  text-align: center;
}

#word {
  display: flex;
  align-items: center;
  text-align: center;
}

#word .character {
  text-align: center;
  display: inline-block;
  width: 6rem;
  height: 8rem;
  font-size: 6rem;
  font-weight: 400;
  border-bottom: .5rem solid black;
  margin: .5rem;
  vertical-align: middle;
}

#word .character.space {
  border-bottom: none;
}

#lives {
  font-size:2rem;
}

.error {
  color:red;
}
